.Hero {
    min-height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    

    /* background: linear-gradient(#fff, #efefef, #fff); */
    background-image: url('/public/hero.png');     
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Hero img {
    height: 112px;
    margin: 1em;
    border: 1px solid #bfbfbf;
    border-radius: 50%;
}