.App {
  min-height: 100vh;
  /* background-color: #282c34;
  color: white; */
  background-color: #ffffff;
  /* background-color: #d9d9d9; */
  color: #000000;
  /* text-align: center; */
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
